@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
}

// h1,
// h2,
// h3,
// p,
// ul {
//   margin: 0;
//   padding: 0;
// }

ul {
  list-style-type: none;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  @include respond-to('mobile') {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond-to('tablet') {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include respond-to('desktop') {
    width: 1280px;
  }
}

%centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
