<div class="modal-backdrop--hidden">
    <div class="modal-card">
      <button class="modal-close">
        <svg class="modal-close__button-icon" viewBox="0 0 30 30">
          <path d="M8 8L22 22" stroke-width="2"></path>
          <path d="M8 22L22 8" stroke-width="2"></path>
        </svg>
      </button>
      <section class="modal-content">
        <div class="modal-thumb">
          <img
            class="modal-thumb__img"
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wKiOkZTN9lUUUNZLmtnwubZYONg.jpg"
            alt=""
          />
        </div>
        <div class="modal-description">
          <h2 class="modal-description__title">film name</h2>
          <table class="modal-description__info-block">
            <tbody>
              <tr>
                <td class="info-block__keys">vote / votes</td>
                <td class="info-block__values">
                  <span class="info-block__values--orange">10</span> /
                  <span class="info-block__values--gray">1000</span>
                </td>
              </tr>
              <tr>
                <td class="info-block__keys">popularity</td>
                <td class="info-block__values">55.5</td>
              </tr>
              <tr>
                <td class="info-block__keys">original title</td>
                <td class="info-block__values--uppercase">original film name</td>
              </tr>
              <tr>
                <td class="info-block__keys">genres</td>
                <td class="info-block__values">genre genre genre</td>
              </tr>
            </tbody>
          </table>
          <p class="modal-description__about-title">about</p>
          <p class="modal-description__about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minus cumque ipsum
            dolorem, voluptate magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minus cumque ipsum
            dolorem, voluptate magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minus cumque ipsum
            dolorem, voluptate magni.
          </p>
          <div class="modal-buttons">
            <button class="modal-button" >add to watched</button>
            <button class="modal-button">add to queue</button>
          </div>
        </div>
      </section>
    </div>
  </div>