<div id="openModal" class="modal">
    <div class="modal__dialog">
        <div class="modal__content">

<!-- modal header + cube -->
            <div class="modal__header">
                <a class="header__logo" id="logo__js" href="https://mkuzich.github.io/filmoteka/index.html">
                    <div class="cub_wrapper">
                        <div class="cube">
                            <div class="side front">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side back">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side left">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side right">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side top">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side bottom">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <span class="modal__title">Our Team</span>
                </a>
                <a href="#close" title="Close" class="close">×</a>
            </div>

<!-- modal body (cards) -->
            <div class="modal__body">
                <div class='modal__container'>
                    <ul class="modal__list">
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Mykhailo Kuzich" width="200" height="200">
                            </p>
                            <div class='info'>
                                <h3>Mykhailo Kuzich - Team Lead</h3>
                                <p>Registration/authentication</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Iryna Zhuk" width="200" height="200">                            
                            </p>
                            <div class='info'>
                                <h3>Iryna Zhuk - Scram</h3>
                                <p>Header home page with input form (just markup) + header library page with buttons (just markup). Home page query request</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Olesia Hlushenkova" width="200" height="200">                               
                            </p>
                            <div class='info'>
                                <h3>Olesia Hlushenkova - Developer</h3>
                                <p>Card for home and library pages with styles. Library page with requests to Local Storage</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Marina" width="200" height="200">                          
                            </p>
                            <div class='info'>
                                <h3>Marina - Developer</h3>
                                <p>Loader, Preloader to pages</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Vitaliy Dianov" width="200" height="200">                            
                            </p>
                            <div class='info'>
                                <h3>Vitaliy Dianov - Developer</h3>
                                <p>Film Modal</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Володимир Горін" width="200" height="200">                             
                            </p>
                            <div class='info'>
                                <h3>Володимир Горін - Developer</h3>
                                <p>Home page + popular films request</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Nedzhat Kukharenko" width="200" height="200">                             
                            </p>
                            <div class='info'>
                                <h3>Nedzhat Kukharenko - Developer</h3>
                                <p>Home page and library page pagination with markup</p>
                            </div>
                        </li>
                        <li class="modal__item">
                            <p class='modal__img'>
                                <img src="./images/irina.jpg" alt="Yana Zakrevskaya" width="200" height="200">                           
                            </p>
                            <div class='info'>
                                <h3>Yana Zakrevskaya - Developer</h3>
                                <p>Footer + modal about team</p>
                            </div>
                        </li>                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>