<div id="openModal" class="footer__backdrop is-hidden" data-footer-modal>
    <div class="footer-modal footer-modal">
        <div class="footer-modal__content">

<!-- modal header + cube animation-->
            <div class="footer-modal__header">
                <a class="footer-modal__logo" id="logo__js" href="https://mkuzich.github.io/filmoteka/index.html">
                    <div class="cub_wrapper">
                        <div class="cube">
                            <div class="side front">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side back">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side left">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side right">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side top">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                            <div class="side bottom">
                                <svg class="header__icon" width="24" height="24">
                                    <use href="./images/icons/header-sprite.svg#film" />
                                </svg>
                            </div>
                        </div>
                    </div>           
                    <span class="footer-modal__title">Our Team</span>
                </a>
                <a href="#close" title="Close" class="close" data-footer-modal-close>×</a>
            </div>

<!-- modal body (cards) -->
            <div class="footer-modal__body">
                <div class='modal__container'>
                    <ul class="footer-modal__list">

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>  
                                <a href="https://www.linkedin.com/in/mykhailo-kuzich/" target="_blank">
                                    <img srcset="/src/images/footer-photo/MykhailoKuzich-200.jpg 1x, /src/images/footer-photo/MykhailoKuzich-400.jpg 2x" 
                                    src="/src/images/footer-photo/MykhailoKuzich-200.jpg" 
                                    alt="Mykhailo Kuzich" />
                                </a>
                            </p>                         
                            <div class='info'> 
                                <div class="info__name">
                                    <h3>Mykhailo Kuzich</h3>                                   
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>                                                                             
                                </div>
                                <p class="info__text">Registration/authentication Registration/authentication Registration/authentication Registration/authentication </p>  
                                <h4 class="info__role">Team Lead</h4>                               
                            </div>                            
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/iryna-zhuk-846930230/" target="_blank">
                                    <img srcset="/src/images/footer-photo/IrynaZhuk-200.jpg 1x, /src/images/footer-photo/IrynaZhuk-400.jpg 2x"
                                    src="/src/images/footer-photo/IrynaZhuk-200.jpg" alt="Iryna Zhuk" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Iryna Zhuk</h3>                                  
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Header home page with input form (just markup) + header library page with buttons (just markup). Home page query request</p>
                                <h4 class="info__role">Scrum</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/olesia-hlushenkova-72577323b" target="_blank">
                                    <img srcset="/src/images/footer-photo/OlesiaHlushenkova-200.jpg 1x, /src/images/footer-photo/OlesiaHlushenkova-400.jpg 2x"
                                    src="/src/images/footer-photo/OlesiaHlushenkova-200.jpg" alt="Olesia Hlushenkova" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Olesia Hlushenkova</h3>                                  
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Card for home and library pages with styles. Library page with requests to Local Storage</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/vitaliy-dianov/" target="_blank">
                                    <img srcset="/src/images/footer-photo/VitaliyDianov-200.jpg 1x, /src/images/footer-photo/VitaliyDianov-400.jpg 2x"
                                    src="/src/images/footer-photo/VitaliyDianov-200.jpg" alt="Vitaliy Dianov" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Vitaliy Dianov</h3>                                 
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Film Modal</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/nedzhat-kukharenko-26b7841a1/" target="_blank">
                                    <img srcset="/src/images/footer-photo/NedzhatKukharenko-200.jpg 1x, /src/images/footer-photo/NedzhatKukharenko-400.jpg 2x"
                                    src="/src/images/footer-photo/NedzhatKukharenko-200.jpg" alt="Nedzhat Kukharenko" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Nedzhat Kukharenko</h3>                                  
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Home page and library page pagination with markup</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">                         
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/volodymyr-horin-895ba223b/" target="_blank">
                                    <img srcset="/src/images/footer-photo/HorinVolodymyr-200.jpg 1x, /src/images/footer-photo/HorinVolodymyr-400.jpg 2x"
                                    src="/src/images/footer-photo/HorinVolodymyr-200.jpg" alt="Horin Volodymyr" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Volodymyr Horin</h3>                                
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Home page + popular films request</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/shalfey-meow-799a2a240/" target="_blank">
                                    <img srcset="/src/images/footer-photo/MarinaChecheneva-200.jpg 1x, /src/images/footer-photo/MarinaChecheneva-400.jpg 2x"
                                    src="/src/images/footer-photo/MarinaChecheneva-200.jpg" alt="Marina Checheneva" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Marina Checheneva</h3>                                 
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Loader, Preloader to pages</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/orest-znak-26b346ba/" target="_blank">
                                    <img srcset="/src/images/footer-photo/OrestZnak-200.jpg 1x, /src/images/footer-photo/OrestZnak-400.jpg 2x"
                                    src="/src/images/footer-photo/OrestZnak-200.jpg" alt="Orest Znak" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Orest Znak</h3>                                  
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Multi-lenguage version</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li>

                        <li class="footer-modal__item">
                            <p class='footer-modal__img'>
                                <a href="https://www.linkedin.com/in/yana-zakrevskaya-833907120/" target="_blank">
                                    <img srcset="/src/images/footer-photo/YanaZakrevskaya-200.jpg 1x, /src/images/footer-photo/YanaZakrevskaya-400.jpg 2x"
                                    src="/src/images/footer-photo/YanaZakrevskaya-200.jpg" alt="Yana Zakrevskaya" />
                                </a>
                            </p>
                            <div class='info'>
                                <div class="info__name">
                                    <h3>Yana Zakrevskaya</h3>                             
                                    <svg class="info__icon" width="24" height="24">
                                        <use href="/src/images/icons/in-symbol-defs.svg#icon-linkedin" />
                                    </svg>
                                </div>
                                <p class="info__text">Footer + modal about team</p>
                                <h4 class="info__role">Developer</h4>
                            </div>
                        </li> 

<!-- the card that will be shown when there are 2 on the screen -->
                        <li hidden class="footer-modal__item">                       
                            <div class="last__block">
                                <blockquote class="blockquote">
                                    <p>Talent wins games, but teamwork and intelligence win championships.</p>
                                    <cite class="blockquote__cite">Michael Jordan</cite>
                                </blockquote>
                            </div>                        
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>