<footer class="footer">
  <div class="container footer__container">
    <span class="footer__text" id="footerRight"
      >© 2022 | All Rights Reserved |
    </span>
    <div class="footer__text footer__text--down">
      <span class="footer__text" id="developText">Developed with</span>
      <span>
        <svg class="footer__icon">
          <use href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </span>
      <span class="footer__text" id="footerText">by</span>
      <span class="footer__text"
        ><a href="#openModal" class="footer__link" id="footerStudent"
          >GoIT Students</a
        >
      </span>
    </div>
  </div>
</footer>
