<header class="hero header-library">
  <div class="container">
    <div class="nav__container library">
      <a href="/src/index.html" class="logo">
        <svg class="logo__svg">
          <use href="./images/icons/header-sprite.svg#film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu__item">
            <a href="/src/index.html" class="menu__link" id="homeL">Home</a>
          </li>
          <li class="menu__item">
            <a
              href="/src/library.html"
              class="menu__link menu__link-library current"
              id="libraryL"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="random-finder">
      <button
        type="button"
        class="random-finder__btn"
        aria-label="random movie find"
      >
        <svg
          class="random-finder__icon"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"
          />
          <path
            d="M12.717,5.063A4,4,0,0,0,8,9a1,1,0,0,0,2,0,2,2,0,0,1,2.371-1.967,2.024,2.024,0,0,1,1.6,1.595,2,2,0,0,1-1,2.125A3.954,3.954,0,0,0,11,14.257V15a1,1,0,0,0,2,0v-.743a1.982,1.982,0,0,1,.93-1.752,4,4,0,0,0-1.213-7.442Z"
          />
          <rect x="11" y="17" width="2" height="2" rx="1" />
        </svg>
      </button>
    </div>
    <div class="btn-container">
      <button class="btn watched-btn" type="button" data-watched-btn>
        Watched
      </button>
      <button class="btn queue-btn" type="button" data-queue-btn>Queue</button>
    </div>
    <div class="theme-switcher">
      <button class="theme-toggler"></button>
    </div>
    <!--select language-->
    <div class="select-lang">
      <span class="span-lang">EN</span>

      <div class="checkbox-group">
        <input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox" class="checkbox-label"></label>
      </div>

      <span class="span-lang">UA</span>
    </div>
    <div class="login-wrapper">
      <button
        type="button"
        class="login__btn login-library btn"
        data-login-modal-open
      >
        Log in
      </button>
      <button
        type="button"
        class="login__btn login-library btn"
        data-signup-modal-open
      >
        Sign up
      </button>
    </div>
    <div class="logout-wrapper">
      <p class="logout-wrapper__text"></p>
      <button class="login__btn login-library btn" type="button" data-logout>
        Log Out
      </button>
    </div>
  </div>
</header>
