<header class="header-library">
    <div class="container">
      <div class="nav__container">
        <a href="/src/index.html" class="logo">
          <svg class="logo__svg">
            <use href="./images/icons/header-sprite.svg#film"></use>
          </svg>
          <span class="logo__text">Filmoteka</span>
        </a>
        <nav class="navigation">
          <ul class="menu">
            <li class="menu__item">
              <a href="/src/index.html" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a href="/src/library.html" class="menu__link menu__link-library current">My library</a>
            </li>
          </ul>
        </nav>
      </div>  
     <div class="btn-container">
        <button class="lib-btn watched-btn" type="button">Watched</button>
        <button class="lib-btn queue-btn" type="button">Queue</button> 
     </div>
    </div>
  </header>
  