<header class="hero header-library">
  <div class="container">
    <div class="nav__container">
      <a href="/src/index.html" class="logo">
        <svg class="logo__svg">
          <use href="./images/icons/header-sprite.svg#film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu__item">
            <a href="/src/index.html" class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a
              href="/src/library.html"
              class="menu__link menu__link-library current"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="btn-container">
      <button class="btn watched-btn" type="button" data-watched-btn>
        Watched
      </button>
      <button class="btn queue-btn" type="button" data-queue-btn>Queue</button>
    </div>
    <!--select language-->
    <div class="select-lang">
      <span class="span-lang">EN</span>

      <div class="checkbox-group"> 
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="checkbox-label"></label>
      </div>

      <span class="span-lang">UA</span>
    </div>
    <div class="login-wrapper">
      <button type="button" class="login__btn btn" data-login-modal-open>
        Log in
      </button>
      <button type="button" class="login__btn btn" data-signup-modal-open>
        Sign up
      </button>
    </div>
    <div class="logout-wrapper">
      <p class="logout-wrapper__text"></p>
      <button class="login__btn btn" type="button" data-logout>Log Out</button>
    </div>
  </div>
</header>
