<header class="hero">
  <div class="container">
    <div class="nav__container">
      <a href="/src/index.html" class="logo">
        <svg class="logo__svg">
          <use href="./images/icons/header-sprite.svg#film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu__item" >
            <a href="/src/index.html" class="menu__link current" id = 'home'>Home</a>
          </li>
          <li class="menu__item" >
            <a href="/src/library.html" class="menu__link" id = 'library'>My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <form id="search-form" class="search-form" autocomplete="off">
      <input
        type="text"
        placeholder="Movie search"
        class="search-form-input"
        name="searchQuery"
      />
      <button class="search__button" type="submit">
        <svg class="search__button-icon">
          <use href="./images/icons/header-sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <p class="warning-notification"></p>
    <div class="select-lang">
      <span class="span-lang">EN</span>

      <div class="checkbox-group"> 
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="checkbox-label"></label>
      </div>

      <span class="span-lang">UA</span>
    </div>

    <div class="trending-selector">
      <button type="button" class="selector day btn act">
        Day
      </button>
      <button type="button" class="selector week btn">
        Week
      </button>  
    </div>
    <div class="login-wrapper">
      <button type="button" class="login__btn btn" data-login-modal-open>
        Log in
      </button>
      <button type="button" class="login__btn btn" data-signup-modal-open>
        Sign up
      </button>
    </div>
    <div class="logout-wrapper">
      <p class="logout-wrapper__text"></p>
      <button class="login__btn btn" type="button" data-logout>Log Out</button>
    </div>
  </div>
</header>
