<section class="home">
  <div class="container library-cards-film">
    <h1 class="visually-hidden">заголовок которого нет</h1>
    <ul class="list list-films">
      <li class="link list-films_card">
        <a class="link list-films_card-info">
          <img
            class="list-films_card-info_card-film"
            src=""
            alt="movie poster"
            width="395"
            height="574"
          />
          <div class="list-films_card-info-footer">
            <h2 class="list-films_card-info-footer-name-film"></h2>
            <p class="list-films_card-info-footer-genre-film"></p>
            <p class="list-films_card-info-footer-production-year"></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
