<div>
  <h2>Login</h2>
  <form class="login-form">
    <label class="login-form__label" for="email"
      >Email
      <input class="login-form__input" type="email" name="email" />
    </label>
    <label class="login-form__label" for="password"
      >Password
      <input class="login-form__input" type="text" name="password" />
    </label>
    <button class="login-form__btn-login" type="submit">Log In</button>
  </form>
  <button class="login-form__btn-logout type="button">Log Out</button>
</div>
