.list-films_card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  cursor: pointer;

  &:hover {
    filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 32px;
    margin-right: 32px;
    width: 336px;

    &:nth-child(-n + 2) {
      margin-top: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-right: 16px;

    &:nth-child(2n) {
      width: 394px;
    }

    &:nth-child(-n + 3) {
      margin-top: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.list-films_card-info_card-film {
  border: 1px solid #000000;
  border-radius: 5px;
}
.list-films_card > .list-films_card-info-footer {
  flex-grow: 1;
  display: block;
  margin-top: 12px;
  margin-bottom: 0;
  padding-left: 0;
  border: transparent;
}
.card-info-footer_characteristics {
  display: flex;
  margin: 0;
}

.list-films_card-info-footer-name-film {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 12px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.list-films_card-info-footer-genre-film {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 12px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.list-films_card-info-footer-production-year {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
  padding-left: 5px;
  padding-right: 5px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 12px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.list-films_card-info-footer-production-year::before {
  content: '|';
  color: #ff6b08;
  padding-right: 5px;
  margin-left: 5px;
}
