.header-library {
  .logout-wrapper {
    margin-top: 12px;
  }
  background-color: map-get($colors, 'light');
  background-image: linear-gradient(
      to right,
      map-get($colors, 'header-gr'),
      map-get($colors, 'header-gr')
    ),
    url(../images/lib-header-bg-mob.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        map-get($colors, 'header-gr'),
        map-get($colors, 'header-gr')
      ),
      url(../images/lib-header-bg-mob@2x.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 40px 32px 80px;
    background-image: linear-gradient(
        to right,
        map-get($colors, 'header-gr'),
        map-get($colors, 'header-gr')
      ),
      url(../images/lib-header-bg-tab.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          map-get($colors, 'header-gr'),
          map-get($colors, 'header-gr')
        ),
        url(../images/lib-header-bg-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        map-get($colors, 'header-gr'),
        map-get($colors, 'header-gr')
      ),
      url(../images/lib-header-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          map-get($colors, 'header-gr'),
          map-get($colors, 'header-gr')
        ),
        url(../images/lib-header-desktop@2x.jpg);
    }
  }
}

.menu__link-library.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;

  width: 100%;//69px
  height: 3px;
  border-radius: 2px;

  background-color: map-get($colors, 'alarm');
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;

  min-width: 129px;

  &.watched-btn {
    margin-right: 19px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 46px;
    padding-right: 46px;
    min-width: 152px;

    &.watched-btn {
      margin-right: 32px;
    }
  }

  font-weight: 500;
  line-height: 16px;
  font-size: 12px;

  text-align: center;
  text-transform: uppercase;

  color: map-get($colors, 'light');
  background: transparent;
  border: 1px solid map-get($colors, 'light');
  border-radius: 5px;

  &:hover,
  :focus,
  :active {
    border: 1px solid map-get($colors, 'active');
    background: map-get($colors, 'active');
    box-shadow: (0px 8px 43px map-get($colors, 'shadow'));

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
  }
}

.nav__container.library {
  margin-bottom: 35px;
}

.login__btn.login-library {
margin-top: 10px;
}