a {
  text-decoration: none;
}

.hero {
  display: block;
  margin: 0 auto;
  padding: 40px 0 90px 0;

  font-weight: 500;
  color: map-get($colors, 'light');

  background-color: map-get($colors, 'light');
  background-image: linear-gradient(
      to right,
      map-get($colors, 'header-gr'),
      map-get($colors, 'header-gr')
    ),
    url(../images/header-background-mobile.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        map-get($colors, 'header-gr'),
        map-get($colors, 'header-gr')
      ),
      url(../images/header-background-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 40px 0 80px;
    background-image: linear-gradient(
        to right,
        map-get($colors, 'header-gr'),
        map-get($colors, 'header-gr')
      ),
      url(../images/header-background-tablet.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          map-get($colors, 'header-gr'),
          map-get($colors, 'header-gr')
        ),
        url(../images/header-background-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        map-get($colors, 'header-gr'),
        map-get($colors, 'header-gr')
      ),
      url(../images/header-background-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          map-get($colors, 'header-gr'),
          map-get($colors, 'header-gr')
        ),
        url(../images/header-background-desktop@2x.jpg);
    }
  }
}

.menu {
  display: flex;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.logo {
  display: flex;
  align-self: flex-end;

  &:hover > .logo__svg {
    stroke: map-get($colors, 'active');
  }

  &:visited {
    color: map-get($colors, 'light');
  }
}

.logo__text {
  font-size: 30px;
  line-height: 1.16;
  font-weight: 500;
  color: map-get($colors, 'light');

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 39px;
  }
}

.menu__link {
  font-size: 12px;
  line-height: 1.16;
  color: map-get($colors, 'light');
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: map-get($colors, 'active');

    
  }
}

.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;

  // width: 34px; 
  width: 100%;
  height: 3px;
  border-radius: 2px;

  background-color: map-get($colors, 'alarm');
}

.search-form {
  display: flex;
  position: relative;

  width: 280px;
  margin: 0 auto;

  justify-content: center;
}

.search-form-input {
  width: 280px;
  height: 20px;
  padding: 8px 0;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid white;
  outline: none;

  background-color: transparent;

  color: map-get($colors, 'light');
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;

  &::placeholder {
    color: map-get($colors, 'light');
  }

  &:hover,
  &:focus {
    border-bottom: 0.5px solid map-get($colors, 'active');
  }

  transition-property: border-bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.logo__svg {
  width: 24px;
  height: 24px;
  align-self: center;
  stroke: white;

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    stroke: map-get($colors, 'active');
  }

  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search__button-icon {
  width: 12px;
  height: 12px;
}

.search__button {
  position: absolute;
  right: 0;
  bottom: 4px;

  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search__button-icon {
  position: absolute;
  right: 0;
  bottom: 2px;
  stroke: map-get($colors, 'light');

  &:hover,
  &:focus,
  &:active {
    stroke: map-get($colors, 'active');
    cursor: pointer;
  }

  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.warning-notification {
  position: absolute;
  left: 20px;
  
  width: 280px;
  margin: 10px auto 10px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: map-get($colors, 'alarm');
  @include respond-to('tablet') {
    margin-top: 20px;
    left: 245px;
    font-size: 14px;
    margin: 16px auto 16px;

  }
  @include respond-to('desktop') {
    left: 500px;
    font-size: 14px;
    margin: 16px auto 16px;
    
  }
}

.selector.btn {
  min-width: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;

  @include respond-to('tablet') {
    margin-top: 12px;
  }

  @include respond-to('tablet') {
    margin-top: 12px;
  }
}

.selector:first-child {
  margin-right: 5px;
}

.selector.btn.act {
  border: 1px solid map-get($colors, 'active');
  background: map-get($colors, 'active');
  box-shadow: (0px 8px 43px map-get($colors, 'shadow'));
  cursor: default;
}

.trending-selector {
  position: absolute;
  left: 20px;
  margin-top: 6px;

  @include respond-to('tablet') {
    left: 32px;
  }
}

.trending-selector-text {
font-size: 12px;
@include respond-to('tablet') {
  font-size: 14px;
}

@include respond-to('tablet') {
  font-size: 14px;
}
}

// .logout-wrapper {
//   position: absolute;
//   right: 20px;

//   @include respond-to('tablet') {
//     right: 32px;
//   }

//   .login__btn {
//     position: absolute;
//     right: 0;
//   }
// }

.login__btn.btn {
  min-width: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;

  @include respond-to('tablet') {
    margin-top: 33px;
  }

  @include respond-to('desktop') {
    margin-top: 33px;
  }
}

.login__btn:first-child {
  margin-right: 0px;
}

.login-wrapper {
  position: absolute;
  right: 20px;

  @include respond-to('tablet') {
    right: 32px;
  }
}

.logout-wrapper {
  position: absolute;
  right: 20px;

  @include respond-to('mobile') {
   margin-top: 6px;
  }
  @include respond-to('tablet') {
    right: 32px;
  }
  .login__btn {
    position: absolute;
    right: 0;
  }
}

.login__btn.logout {
  @include respond-to('mobile') {
    margin-top: 10px;
  }

  @include respond-to('tablet') {
    margin-top: 12px;
  }

  @include respond-to('tablet') {
    margin-top: 12px;
  }
  
}

.logout-wrapper__text {
  font-size: 12px;
  @include respond-to('tablet') {
    font-size: 14px;
  }
}

.hero > .container {
  position: relative;
}
