.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.home {
  padding: 20px 20px 40px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 59px 32px 60px;
  }

  @media screen and (min-width: 1280px) {
    padding: 60px 30px;
  }
}

.list-films_card:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}



.list-films {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.btn.library-active-btn {
  border: 1px solid map-get($colors, 'active');
  background: map-get($colors, 'active');
  box-shadow: (0px 8px 43px map-get($colors, 'shadow'));
}

.library {
  &__warning {
    line-height: 2;
    font-size: 14px;
    font-weight: 400;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }
    &-wrapper {
      text-align: center;
      height: 100vh;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      @media screen and (min-width: 768px) {
        width: 50vw;
      }
    }
  }
}
