.scroll-up{
    position: fixed;
    display: inline-block;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    color: map-get($colors, 'additional');

    // @include respond-to('tablet') {
    //         width: 40px;
    //         height: 40px;
    //         right: 10px;
    //         bottom: 10px;
    //     }

    &:hover {
        background-color: map-get($colors, 'active');
        color: map-get($colors, 'light');
        cursor: pointer;
    }

}

// .scroll-up.mob{
//     bottom: 102.5px;
    
//     @include respond-to('tablet') {
//             right: 10px;
//             bottom: 10px;
//         }
// }


.scroll-pic {
    height: 100%;
    width: 100%;
    fill: currentColor;
}