html.dark {
  transition: $chang-time $chang-func; 
  & .hero {
    box-shadow: 0px 0px 23px 10px rgba(84, 84, 84, 0.97);
  }
  & body {
    transition: inherit;
    background-color: map-get($colors, 'bg-dark');
    color: map-get($colors, 'light');
  }
  & .footer {
    transition: inherit;
    background-color: map-get($colors, 'footer-bg-dark');
    box-shadow: 0px 0px 23px 10px rgba(9, 9, 9, 0.97);
  }
  & .footer-modal__list {
    background-color: map-get($colors, 'bg-dark');
  }
  & .modal-card {
    color: map-get($colors, 'light');
    background-color: map-get($colors, 'bg-dark');
  }
  & .modal-close {

    background-color: map-get($colors, 'bg-dark');
    &__button-icon {
      stroke: map-get($colors, 'light');
      &:hover {
        stroke: map-get($colors, 'accent');
      }
    }
  }
  & .info-block__values--gray {
    color: map-get($colors, 'light');
    background-color: map-get($colors, 'footer-bg-dark');
  }
  & .modal-button {
    color: map-get($colors, 'light');
    border-color: map-get($colors, 'light');
  }
  & .list-films_card-info-footer-name-film {
    color: map-get($colors, 'light');
  }

  & .list-films_card {
    &:hover,
    &:focus {
      transform: scale(1.03);
      box-shadow: 0 0 10px map-get($colors, 'light');
  }
  }
  & .btn-pagination {
    background-color: map-get($colors, 'bg-dark');
    color: map-get($colors, 'light');
    &:hover {
      color: map-get($colors, 'light');
      background-color: map-get($colors, 'accent');
      stroke: map-get($colors, 'light');
    }
  }
  & .btn-pagination-active {
    color: map-get($colors, 'light');
  }
  & .btn-pagination-arrow {
    background-color: map-get($colors, 'bg-dark');
    & .svg-pagination-btn {
      stroke: map-get($colors, 'light');
    }
    &:hover {
      color: map-get($colors, 'light');
      background-color: map-get($colors, 'accent');
      stroke: map-get($colors, 'light');
    }
  }
  & .signup-modal {
    background-color: map-get($colors, 'bg-dark');

    & .signup-modal__close-btn:hover .signup-modal__close-icon {
      stroke: map-get($colors, 'accent');
    }

    & .signup-modal__close-icon {
      stroke: map-get($colors, 'light');
    }
    & .signup-form__input {
      border-color: map-get($colors, 'light');
      color: map-get($colors, 'light');
      background-color: map-get($colors, 'bg-dark');
      &:focus {
        border-color: map-get($colors, 'accent');

        & + .signup-form__icon {
          stroke: map-get($colors, 'accent');
          fill: map-get($colors, 'accent');
        }
      }
    }
    & .signup-form__icon {
      stroke: map-get($colors, 'light');
      fill: map-get($colors, 'light');
    }
    & .signup-form__btn {
      border-color: map-get($colors, 'light');
      background-color: map-get($colors, 'bg-dark');
      color: map-get($colors, 'light');
      &:hover {
        border-color: map-get($colors, 'accent');
        background-color: map-get($colors, 'accent');
      }
    }
  }
}

.dark .signup-modal:before,
.dark .signup-modal:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}


.dark .signup-modal:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.dark .signup-modal:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.dark .signup-modal:hover:before,
.dark .signup-modal:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.dark .signup-modal:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.dark .signup-modal:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}